// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1300:                           1300px;


$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$fz-default:                        16px;

