@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha.woff2") format("woff2"),
    url("../fonts/Neucha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
