:root {
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  --font-xl: 4rem;
  --item-size: calc(182.4px - var(--space-xs));

  --c-white: #ffffff;
  --c-white-1: #fafafa;
  --c-dark: #020202;
  --c-dark-1: #040404;
  --c-dark-2: #101010;
}

.pet {
  block-size: 100%;
  display: block;
  position: relative;
}

.pet__content {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto 0;
  block-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 12px;
}

.pet__list {
  z-index: 100;
  width: fit-content;
  margin-left: auto;
  padding-right: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  @include vp-1299 {
    overflow: auto;
  }

  @include vp-767 {
    padding-right: 10px;
  }
}

.pet__item {
  z-index: 100;
  line-height: 0.95;
  display: flex;
  justify-content: end;
  width: fit-content;
  margin-left: auto;

  @include vp-1299 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.pet__link {
  font-size: var(--font-xl);
  text-transform: uppercase;
  text-align: right;
  display: block;
  line-height: 1;
  width: fit-content;
  margin-left: auto;
  -webkit-text-stroke: 1px var(--c-white);
  color: transparent;

  @include vp-1299 {
    font-size: 23px;
    -webkit-text-stroke: 1px #d67060;
    color: #d67060;
  }

  @include vp-767 {
    font-size: 23px;
    color: #ffffff;
    -webkit-text-stroke: 1px #ffffff;
  }
}

.pet img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

.pet__tv-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: #cccccc;
  border-radius: 7px;

  &::after {
    position: absolute;
    left: -50%;
    top: -60%;
    background-image: url("../image/tv-noice.png");
    pointer-events: none;
    animation: grain 1s steps(15) infinite;
    will-change: background-position;
    backface-visibility: visible;
    transform: translateZ(0);
    content: "";
    width: 166%;
    height: 200%;
    z-index: 60;
  }

  &::before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 20px;
    content: "";
    background-color: #cccccc;
  }
}

.pet__tv-container.js-not-after {
  background-color: transparent;

  &::after {
    display: none;
  }
}

.pet__picture {
  width: 700px;
  height: 470px;
  position: absolute;
  overflow: hidden;
  left: 8%;
  bottom: 0;
  top: 0;
  margin: auto;

  @include vp-767 {
    display: none;
  }
}

.pet__picture-container {
  width: 95%;
  height: 95%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 2%;
}

.pet__image-tv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.pet__img-select {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 665px;
  height: 447px;
}

.pet__img-select.is-active {
  display: block;
  opacity: 1;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0)
  }
  10% {
    transform: translate(-15%, -10%)
  }
  20% {
    transform: translate(-20%, -5%)
  }
  30% {
    transform: translate(7%, -25%)
  }
  40% {
    transform: translate(-5%, 25%)
  }
  50% {
    transform: translate(-20%, 10%)
  }
  60% {
    transform: translate(25%, 0%)
  }
  70% {
    transform: translate(0%, 15%)
  }
  80% {
    transform: translate(3%, 35%)
  }
  90% {
    transform: translate(-10%, 10%)
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
