.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  width: 100vw;

  @include vp-1299 {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include vp-767 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.preview__title-container {
  display: grid;

  @include vp-767 {
    margin-bottom: 90px;
  }
}

.preview__title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.8;
  width: 830px;
  text-align: center;
  letter-spacing: 0.15em;

  @include vp-1299 {
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 19px;
  }
}

.preview__title div {
  display: inline-block;
}

.preview__list {
  position: absolute;
  bottom: 100px;
  right: 40px;
  z-index: 100;
}

.preview__list svg {
  fill: #ffffff;
  transition: transform 0.5s ease-in, fill 0.8s ease-in;
  height: auto;

  @include vp-1299 {
    width: 75px;
  }

  @include vp-767 {
    width: 50px;
  }
}

.preview__link {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.preview__link:hover svg {
  fill: #163631;
  transform: scale(1.2);
}

.preview__background {
  display: block;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
