.projects {
  background-color: #d67060;
  color: #ffffff;
  width: 100vw;
  transform: translateX(-300%);
}

.projects h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 82px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  padding-left: 80px;
  margin-top: 100px;
  margin-bottom: 0;

  @include vp-1299 {
    font-size: 4em;
  }

  @include vp-767 {
    font-size: 2.5em;
  }
}

.projects h2::after,
.projects h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}

.projects h2::after {
  top: 0;
}

.projects__container {
  height: calc(100vh - 200px);
  display: flex;
  overflow: hidden;

  @include vp-1299 {
    height: calc(100vh - 180px);
  }

  @include vp-767 {
    height: calc(100vh - 156px);
  }
}

.projects__list-site {
  position: relative;
  display: flex;
  height: 100%;
  width: 100vw;
  min-width: 1400px;
  padding-left: 20vw;
  padding-right: 25px;
  background-color: #d67060;
  margin: 0;
  transform: translateX(0);

  @include vp-767 {
    padding-left: 0;
    margin-left: 160px;
  }
}

.projects__list-site::before {
  content: "сайты";
  position: absolute;
  top: 0;
  left: calc(20vw - 80.64px);
  background-color: #ffffff;
  color: #163631;
  font-size: 18px;
  padding: 20px;
  z-index: 100;

  @include vp-767 {
    display: none;
  }
}

.projects__list-site::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  min-width: 20vw;
  height: 100%;
  background-color: #163631;
  background-image: repeating-linear-gradient(transparent, transparent 60px, #ffffff 62px), repeating-linear-gradient(90deg, transparent, transparent 60px, #ffffff 62px);

  @include vp-767 {
    display: none;
  }
}

.projects__subtitle {
  padding-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.5em;

  @include vp-1299 {
    padding-top: 19px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    min-height: 80px;
    margin-bottom: 25px;
  }
}

.projects__img-container {
  position: relative;
  display: flex;
  height: 335px;
  width: 500px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .5s ease-in-out 0s;

  @include vp-767 {
    width: 332px;
    height: 224px;
  }
}

.projects__img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  opacity: 1;
  transition: all .5s ease-in-out 0s;

  @include vp-767 {
    height: 98%;
  }
}

.projects__project {
  width: 50vw;
  min-width: 50%;
  background-color: #d67060;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include vp-1299 {
    overflow: none;
  }

  @include vp-767 {
    min-width: 25%;
    margin-right: 10px;
    overflow: none;
  }
}

.projects__img-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.projects__project-img {
  width: 100%;
  height: 90%;
  margin: 32px 110px 0 40px;

  @include vp-767 {
    margin: 0;
    height: 98%;
  }
}

.projects__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.projects__side-image {
  width: 100%;
  height: 100%;
}

.projects__item {
  width: 100vw;
}

.projects__text {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  flex: 0.8;

  @include vp-767 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.projects__item-pet {
  position: relative;
  width: 500px;
  margin-left: calc(25vw - 270px);
  margin-right: calc(25vw - 270px);
  height: 600px;

  &:hover .projects__front {
    cursor: pointer;
    display: flex;
  }
}

.projects__item-pet--three,
.projects__item-pet--four {
  width: 100vw;
}

.projects__pet-list {
  position: relative;
  padding: 80px 40px 60px;
  background-color: #163631;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0;

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: fit-content;
    content: "PET-projects";
    background-color: #d67060;
    color: #ffffff;
    font-size: 18px;
    padding: 20px;
  }
}

.projects__side {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.projects__front {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  padding: 60px 60px 90px;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.projects__side-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.projects__side-text {
  font-size: 24px;
}

.projects__side-link {
  margin: auto auto 0;
  color: #ffffff;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.projects__pet-item {
  flex: 1;
  margin-bottom: auto;
}

.projects__pet-link {
  font-family: "Neucha", cursive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  transform: translateX(-600%);

  @include vp-1299 {
    color: #d67060;
  }

  &:hover {
    color: #d67060;

    @include vp-1299 {
      -webkit-text-stroke: 1px #d67060;
    }
  }

  @include vp-767 {
    transform: translateX(0%);
  }
}

.projects__pet {
  width: 100vw;
  height: 100%;
  background-color: #163631;
  overflow: hidden;
  transform: translate(0, 0);
}

.projects__pet h3 {
  margin: 0;
}

.projects__content {
  width: 100vw;
}

.projects__link-git {
  padding: 10px 40px;
  font-family: "Neucha", cursive;
  color: #163631;
  font-size: 24px;
  margin: auto auto 40px;
  text-align: center;
  border: 1px solid #163631;
  border-radius: 5px;
  width: 80%;
  transition: all 0.4s ease-in-out 0s;

  &:hover {
    color: #ffffff;
    font-size: 30px;
    border: 1px solid #ffffff;
  }

  @include vp-1299 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}
